<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'course_index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'exams_index' %}">Exams</a>
                    </li>
                    <li class="nav-item dropdown ml-md-auto">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>

</html>
