{% extends 'base.html' %}

{% block content %}
    <section class="py-8 py-md-10">
      <div class="container">
      <div class="row">
      <div class="col-sm-6 offset-lg-2 col-lg-4">
        <div class="mb-4 mb-sm-0">
          <div class="bg-warning rounded-top p-2">
            <h3 class="text-white font-weight-bold mb-0 ml-2">Éxito!</h3>
          </div>
          <div class="border rounded-bottom-sm border-top-0">
            <div class="p-3">
                <p class="mb-0"> <i class="fa fa-inbox"></i>
                  Has confirmado tu cuenta.
                </p>
            </div>
          </div>
        </div>
      </div>
      </div> <!--row-->
      </div> <!--container-->
    </section>
{% endblock %}
