{% extends 'base.html' %}

{% block content %}
    <div class="main-wrapper teachers-details">


<!-- ====================================
———	BREADCRUMB
===================================== -->
<section class="breadcrumb-bg" style="background-image: url(https://images.squarespace-cdn.com/content/v1/5b6cc487620b85a4400b78a1/1538763794373-QZJV5OXM00OUQXPUZ2S7/ke17ZwdGBToddI8pDm48kEsYCv8siTIZGDHdFeal4UoUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcr0gDI7dDrQdpstTwgN7SyerQb7v7DMsLFGNUDBmtpvryubs1SbPLUqRBWzDZP1g3/blockchainis.jpg); ">
<div class="container">
  <div class="breadcrumb-holder">
    <div>
      <h1 class="breadcrumb-title">Próximamente</h1>
    </div>
  </div>
</div>
</section>

<!-- ====================================
———	TEACHERS DETAILS
===================================== -->
<section class="py-7 py-md-10">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="image mb-5 mb-md-0">
          <img class="w-100 rounded" src="https://miro.medium.com/max/2678/1*UoLUK7PGhxCOMrMss_7xCA.png">
        </div>
      </div>

      <div class="col-sm-8 col-xs-12">
        <h2 class="text-danger font-weight-bold text-capitalize pl-0 mb-5">Contenido Descentralizado en Academia Blockchain</h2>

        <p class="text-muted mb-5">Los cursos y acreditaciones que referencien contenido guardado de manera descentralizada van a tener preferencia en nuestra plataforma. Se podrá guardar contenido a través de la página de Academia Blockchain
            en la solución de descentralización de contenido de preferencia del usuario. Algunas proyectos a tomar en cuenta son Storj, LBRY, FileCoin, IPFS, Sia, Swarm.</p>

        <p class="text-muted mb-5">La importancia de guardar la información en arquitecturas informáticas descentralziadas no puede exagerada. Vivimos en un mundo en donde las plataformas de redes sociales y los buscadores dominantes constantemente
        censuran artículos, videos y documentos de investigación. Youtube ha quitado videos cruciales de su sitio, algunas veces sin justificación alguna, Twitter cierra cuentas que armonizan con la narrativa de su preferencia,
        Google ordena sus resultados de acuerdo a una agenda política. En fin el poder detrás de la censura del Internet es capaz de dar forma a la consciencia de la población. Aaron Swartz murió por defender el acceso al conocimiento y el
        ideal del Open Source y la Ciencia Abierta. Si crees que el contenido relacionado con uno de tus cursos o certficaciones puede verse censurado por alguna razón (copyright o agenda política), guárdalo de manera descentralizada y participa de este
        movimiento por abrir la información al mundo.</p>

      </div>
    </div>
  </div>
</section>

</div> <!-- element wrapper ends -->
{% endblock content %}
