{% extends 'base.html' %}


{% block content %}
<section class="py-8 py-md-10">
  <div class="container">
<div class="row">
  <div class="col-sm-6 offset-lg-2 col-lg-4">
    <div class="mb-4 mb-sm-0">
      <div class="border rounded-bottom-sm border-top-0">
        <div class="p-3">
          <form action="{% url 'login' %}" method="POST" role="form">
              {% csrf_token %}

              {% if form.errors %}
                <div class="form-group text-center text-secondary mb-0">
                  <p class="mb-0">{{ form.errors }} </p>
                </div>
              {% endif %}

            <div class="form-group form-group-icon">
                {{ form.username }}
            </div>

            <div class="form-group form-group-icon">
                {{ form.password }}
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-success text-uppercase w-100">Entrar</button>
            </div>

            <div class="form-group text-center text-secondary mb-0">
              <p class="mb-0">¿No estás registrado? <a class="text-danger" href="#">Unirse a Academia Blockchain</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  </div></section>
{#    TODO password reset activar #}
    {#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
    {# Assumes you setup the password_reset view in your URLconf #}

{% endblock content %}
