{% extends 'profiles/profile_base.html' %}

{% block profile_content %}
<!-- ====================================
———	BLOG GRID LEFT SIDEBAR
===================================== -->
<div class="col-md-8 col-lg-9 order-md-1">
    <div class="row">
        <div class="media media-avator-view flex-column flex-sm-row">
            <a class="media-img mb-5 mb-sm-0 mr-md-5 mr-lg-6 rounded-sm shadow-sm" href="">
            {% if profile.profile_picture %}
                <img id="profile_picture" class="rounded-sm" src="{{ profile.profile_picture.url }}">
            {% else %}
                <img id="profile_picture" class="rounded-sm" src="https://picsum.photos/200">
            {% endif %}
            </a>
            <div class="media-body">
                <p class="font-size-20 font-weight-medium d-inline-block mb-1">{{ user.username }}</p>
                  <br>
                <p class="font-size-15 text-muted font-weight-medium d-inline-block mb-1">{{ user.get_full_name }}</p>

                <span class="text-muted font-size-15 mb-1 d-block">
                    <strong>
                        Intereses:
                    </strong>
                   {{ profile.interests }}
                </span>
                <p>
                    {{ profile.profile_description }}
                </p>
                <span class="text-muted font-size-15 mb-1 d-block">
                    <p class="text-muted">
                       <strong>Criptos preferidas</strong>:
                        {{ cryptos_string }}
                    </p>

                    <strong>Métodos de Contacto</strong>:
                    <ul class="text-muted">
                        {% for c in contact_methods %}
                        <li>
    {#                    TODO si no es link no poner anchor tag#}
                            {{ c.name }} - <a class="text-muted" target="_blank" href="{{ c.url_link }}">{{ c.url_link }}</a>: {{ c.description }}
                        </li>
                        {% endfor %}
                    </ul>
                </span>
                <span class="text-muted font-size-15 mb-1 d-block">
                    <strong>
                        Zona Horaria:
                    </strong>
                    {{ profile.timezone }}
                </span>
           </div>
        </div>

    <div class="col-12">
        <div class="text-sm-center mt-6">
          <button id="edit_button" type="submit" class="btn btn-warning text-uppercase">
            Editar Perfil
          </button>
          <button id="edit_cryptos" type="submit" class="btn btn-info text-uppercase">
            Criptos Preferidas
          </button>
          <button id="edit_contact" type="submit" class="btn btn-success text-uppercase">
            Métodos de Contacto
          </button>
        </div>
        <hr>
    </div>

    <form method="post" action="{% url 'profile_data' %}" id="edit_form">
        {% csrf_token %}
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="form-group form-group-icon">
              <i class="fa fa-at"></i>
              <input name="email" type="text" class="form-control border-info" placeholder="Email"
              value="{{ user.email }}">
            </div>
            <div class="form-group form-group-icon">
              <i class="fa fa-user"></i>
              <input name="first_name" type="text" class="form-control border-info" placeholder="Nombre"
              value="{{ user.first_name }}">
            </div>
            <div class="form-group form-group-icon">
              <i class="fa fa-user"></i>
              <input name="last_name" type="text" class="form-control border-info" placeholder="Apellido"
              value="{{ user.last_name }}">
            </div>
          </div>

          <div class="col-sm-6 col-xs-12">
            <div class="form-group" id="input_time_zone">
                <select class="custom-select my-1 mr-sm-2 border-info" id="time_zone_select" name="time_zone">
                  {% for tz in academia_blockchain_timezones %}
                      <option id="{{ tz }}" value="{{ tz }}">{{ tz }}</option>
                  {% endfor %}
                </select>
                <small id="" class="form-text text-muted">
                    {% if profile.timezone %}
                        Ahora estás en "{{ profile.timezone }}".
                    {% endif %}
                </small>
          </div>

           <div class="form-group form-group-icon">
              <i class="fa fa-smile-o"></i>
               <textarea name="interests" type="text" class="form-control border-info" placeholder="Tus Intereses">{{ profile.interests }}
               </textarea>
               <small id="" class="form-text text-muted">
                    ¿Qué te apasiona? Separa tus intereses con comas.
                </small>
           </div>
          </div>

          <div class="col-12">
            <div class="form-group form-group-icon">
              <textarea name="profile_description" class="form-control border-info" rows="8">{{ profile.profile_description }}
              </textarea>
            </div>
              <small id="" class="form-text text-muted">
                  ¿A qué te dedicas?
              </small>
          </div>

          <div class="col-12">
            <div class="text-sm-center mt-6">
              <button type="submit" class="btn btn-danger text-uppercase">
                Guardar Cambios
              </button>
            </div>
          </div>
        </div>
      </form>

    </div>
</div>

{#    MODAL EDITAR IMAGEN DE PERFIL#}

<div class="modal fade mb-8" id="EditProfilePicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Editar Imagen de Perfil</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
        <form id ="upload_picture_form" method="post" action="{% url 'profile_edit_picture' %}" enctype="multipart/form-data">
        {% csrf_token %}
            {{ profile_picture_form.as_p }}
            <label for="exampleFormControlFile1">Sube tu nueva imagen de perfil. Max 2Mb.
                Te recomendamos dimensiones iguales. Por ej: 500px alto / 500px ancho </label>
        </form>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      <button id="save_picture" type="button" class="btn btn-primary">Guardar Cambios</button>
    </div>
  </div>
</div>
</div>
{% endblock profile_content %}


{% block extra_js %}
    <script>
    $( document ).ready(function() {
        $("#edit_form").hide()
        $("#edit_button").on("click", function(){
           $("#edit_form").show();
        });
        $("#edit_cryptos").on("click", function(){
           window.location.href = "{% url 'profile_edit_cryptos' %}";
        });
        $("#edit_contact").on("click", function(){
           window.location.href = "{% url 'profile_edit_contact' %}";
        });

        // timezone en form. Selecciona el timezone del usuario
        {#let user_timezone = "{{ profile.timezone }}";#}
        {#console.log(user_timezone);#}
        {#if(user_timezone.length > 1){#}
        {#    $("#Europe/Madrid").prop("selected", true);#}

        $("#profile_picture").on("click", function(e){
            e.preventDefault();
            $("#EditProfilePicModal").modal("show")
        });
        $("#save_picture").on("click", function(e){
           e.preventDefault();
           $("#upload_picture_form").submit();
        });
    });
    </script>
{% endblock extra_js %}
