{% extends 'profiles/profile_base.html' %}
{% load static %}

{% block profile_content %}
    <div class="col-md-8 col-lg-9 order-md-1">
 
        {% include 'courses/events_list_section.html' with events=events %}

    </div>

{% endblock profile_content %}


{% block extra_js %}
    <script>
    $( document ).ready(function() {
        $(".certificate_requests").on("click", function(e){
           e.preventDefault();
           window.location.href = "{% url 'profile_cert_requests' %}";
        });
    })
    </script>
{% endblock extra_js %}
