{% extends 'profiles/profile_base.html' %}

{% block profile_content %}

<!-- ====================================
———	BLOG GRID LEFT SIDEBAR
===================================== -->
<div class="col-md-8 col-lg-9 order-md-1">
    <div class="row">

        <div class="media media-avator-view flex-column flex-sm-row">
        <a class="media-img mb-5 mb-sm-0 mr-md-5 mr-lg-6 rounded-sm shadow-sm" href="">
            <img class="rounded-sm" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F4.bp.blogspot.com%2F-IQIrbJmVx4M%2FUCv-ZlNFbYI%2FAAAAAAAAJsg%2FtSq8wwZ-aF0%2Fs1600%2FProfessionalPortfolioAmandaStone12.jpg&f=1&nofb=1" alt="avator-img1.jpg">
        </a>
          <div class="media-body">
            <p class="font-size-20 font-weight-medium d-inline-block mb-1">{{ user.username }}</p>
              <br>
            <p class="font-size-15 text-muted font-weight-medium d-inline-block mb-1">{{ user.get_full_name }}</p>

            <span class="text-muted font-size-15 mb-1 d-block">
                <strong>
                    Intereses:
                </strong>
               {{ profile.interests }}</span>
            <p>
                {{ profile.profile_description }}
            </p>
{#            TODO edicion perfil#}
            <span class="text-muted font-size-15 mb-1 d-block">
                <p class="text-muted">
                   <strong>Criptos preferidas</strong>:
                    {% for crypto in accepted_cryptos %}
                        {{ crypto.code }}
                    {% endfor %}
                </p>

                <strong>Métodos de Contacto</strong>:
                <ul>
                    <li>
                        Whatsapp: +593998375445 Envíame un mensaje en horarios de oficina 8am - 5pm GMT-5
                    </li>
                </ul>
            </span>
          </div>
        </div>

    <div class="col-12">
        <div class="text-sm-center mt-6">
          <button id="edit_button" type="submit" class="btn btn-warning text-uppercase">
            Editar Perfil
          </button>
          <button id="edit_button" type="submit" class="btn btn-info text-uppercase">
            Criptos Preferidas
          </button>
          <button id="edit_button" type="submit" class="btn btn-success text-uppercase">
            Métodos de Contacto
          </button>
        </div>
        <hr>
    </div>

    <form class = "" id="edit_form">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="form-group form-group-icon">
              <i class="fa fa-user"></i>
              <input type="text" class="form-control border-info" placeholder="{{ user.username }}">
            </div>
            <div class="form-group form-group-icon">
              <i class="fa fa-user"></i>
              <input type="text" class="form-control border-info" placeholder="{{ user.first_name }}">
            </div>
            <div class="form-group form-group-icon">
              <i class="fa fa-user"></i>
              <input type="text" class="form-control border-info" placeholder="{{ user.last_name }}">
            </div>
          </div>

          <div class="col-sm-6 col-xs-12">
           <div class="form-group form-group-icon">
              <i class="fa fa-smile-o"></i>
               <textarea type="text" class="form-control border-info" placeholder="{{ profile.interests }}"></textarea>
               <small id="" class="form-text text-muted">
                    ¿Qué te apasiona? Separa tus intereses con comas.
                </small>
           </div>
          </div>

          <div class="col-12">
            <div class="form-group form-group-icon">

              <textarea class="form-control border-info" placeholder="{{ profile.profile_description }}" rows="8"></textarea>
            </div>
              <small id="" class="form-text text-muted">
                  ¿A qué te dedicas?
              </small>
          </div>

          <div class="col-12">
            <div class="text-sm-center mt-6">
              <button type="submit" class="btn btn-danger text-uppercase">
                Guardar Cambios
              </button>
            </div>
          </div>
        </div>
      </form>

    </div>
</div>

{% endblock profile_content %}


{% block extra_js %}
    <script>
    $( document ).ready(function() {
        $("#edit_form").hide()
        $("#edit_button").on("click", function(){
           $("#edit_form").show();
       });
    });
    </script>
{% endblock extra_js %}
