{% extends 'profiles/profile_base.html' %}
{% load static %}

{% block profile_content %}
<!-- ====================================
———	BLOG GRID LEFT SIDEBAR
===================================== -->
<div class="col-md-8 col-lg-9 order-md-1">
    <div class="row">
        <div class="media-body">
            <p class="font-size-20 font-weight-medium d-inline-block mb-1">Tus criptomonedas preferidas</p>
            <small class="form-text text-muted">
                Las personas que encuentren tus cursos y eventos van a ver tus criptos preferidas.
                Puedes incluir la dirección (recomendado).
            </small>
            <hr>
        </div>
    </div>

        <div class="row">
            <form method="post">
                {% csrf_token %}
                <div id="crypto_method_wrapper">
                {% if accepted_cryptos %}
                    {% for c in accepted_cryptos %}
                        <div class="crypto_input_wrapper" id="input_wrapper_{{ c.id }}">
                          <div class="input-group mb-3">
                            <input type="hidden" value="{{ c.id }}" class="hidden">
                            <input type="text" class="form-control crypto_name" disabled value="{{ c.crypto.name }}" placeholder="Nombre">
                            <input type="text" class="form-control crypto_code" disabled onkeyup="this.value = this.value.toUpperCase();"
                                   value="{{ c.crypto.code }}" placeholder="Código">
                            <div class="input-group-append">
                              <button type="button" class="btn btn-danger input-group-text delete" data-id="{{ c.id }}"
                                  data-toggle="tooltip" data-placement="left" data-original-title="Eliminar">
                                  <i class="fa fa-times"></i>
                              </button>
                            </div>
                            <div class="input-group-append">
                              <button type="button" class="btn btn-warning input-group-text edit" data-id="{{ c.id }}"
                                  data-toggle="tooltip" data-placement="left" data-original-title="Editar">
                                  <i class="fa fa-edit"></i>
                              </button>
                            </div>
                          </div>
                          <input type="text" class="form-control crypto_address" disabled
                                    placeholder="Recomendado. Dirección de tu billetera (copia y pégala aquí)" value="{{ c.address }}">
                            <hr>
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
            </form>
        </div>

        <button id="new_preferred_crypto" type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAddCrypto">
            Sumar nueva cripto preferida
        </button>

        <div class="modal fade mb-8" id="modalAddCrypto" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Sumar Nueva Criptomoneda Preferida</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
              <form action="{% url 'profile_edit_cryptos' %}" method="post" id="crypto_method_form">
                  {% csrf_token %}
                <div class="modal-body">
                      <div class="input-group mb-3">
                        <input name="crypto_id" id="modal_crypto_id" type="hidden" value="0" class="hidden">
                        <input name="crypto_name" id="modal_crypto_name" type="text" class="form-control" placeholder="Nombre">
                        <input name="crypto_code" id="modal_crypto_code" type="text" class="form-control" placeholder="Código"
                               onkeyup="this.value = this.value.toUpperCase();">
                      </div>
                      <input id="modal_crypto_address" type="text" class="form-control" name="crypto_address"
                                placeholder="Recomendado. Dirección de tu billetera (copia y pégala aquí)" value="">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="submit" id="save_crypto_form" class="btn btn-success">Guardar</button>
                </div>
              </form>
          </div>
        </div>
        </div>
</div>
{% endblock profile_content %}


{% block extra_js %}
{#    <script src="{% static 'assets/js/bitcoinjs-lib-5.2.0/src/address.js' %}"></script>#}
    <script src="{% static 'assets/js/web3/dist/web3.min.js' %}"></script>

    <script>
    $( document ).ready(function() {
        $(".hidden").hide();

        $("#crypto_method_wrapper").on("click", ".delete", function(){
            console.log("Item ID:");
            let crypto_id = $(this).data("id");
            let item_div = $("#input_wrapper_"+crypto_id);
            item_div.hide();
            console.log("crypto ID");
            console.log(crypto_id);
            data = {
                "csrfmiddlewaretoken": $('input[name=csrfmiddlewaretoken]').val(),
                "crypto_id": crypto_id
            };
            console.log(data);
            $.ajax({
                url: "{% url 'profile_delete_crypto' %}",
                method: "post",
                data: data,
                success: function(response){
                    console.log("SUCCESS");
                },
                error: function(response){
                    alert("Hubo un error al eliminar crypto")
                    console.log("ERROR");
                    console.log(response);
                }
            });
        });

        $("#crypto_method_wrapper").on("click", ".edit", function(){
            let crypto_id = $(this).data("id");
            let item_div = $("#input_wrapper_"+crypto_id);
            console.log("crypto ID");
            console.log(crypto_id);

            let crypto_name = item_div.find(".crypto_name").val();
            console.log("crypto_name");
            console.log(crypto_name);

            let crypto_code = item_div.find(".crypto_code").val();
            console.log("crypto_code");
            console.log(crypto_code);

            let crypto_address = item_div.find(".crypto_address").val();
            console.log("crypto_address");
            console.log(crypto_address);

            $("#modal_crypto_id").val(crypto_id);
            $("#modal_crypto_name").val(crypto_name);
            $("#modal_crypto_code").val(crypto_code);
            $("#modal_crypto_address").val(crypto_address);
            $("#modalAddCrypto").modal("show");
        })

        $("#new_preferred_crypto").on("click", function(){
            $("#modal_crypto_id").val("0");
            $("#modal_crypto_name").val("");
            $("#modal_crypto_code").val("");
            $("#modal_crypto_address").val("");
            $("#modalAddCrypto").modal("show");
        });

        $("#save_crypto_form").on("click", function(){
            console.log("submit!");
            console.log(this);
            $("crypto_method_form").submit();
        });

        $("#modal_crypto_address").on("focusout", function(){
            let crypto_code = $("#modal_crypto_code").val();
            console.log(crypto_code);
            if(crypto_code === "ETH"){
                console.log("address_input:");
                let address_input = $(this);
                console.log(address_input);
                let address = address_input.val();
                console.log("address:");
                console.log(address);
                if(address.length > 1){
                    let is_eth_address = Web3.utils.isAddress(address)
                    console.log(is_eth_address);
                    if(is_eth_address){
                        address_input.removeClass("border-danger");
                        address_input.addClass("border-success");
                    } else {
                        address_input.removeClass("border-success");
                        address_input.addClass("border-danger");
                        alert("No es una direccion correcta");
                    }
                }
            }
        });
    });
    </script>
{% endblock extra_js %}
