{% extends 'profiles/profile_base.html' %}

{% block profile_content %}

<!-- ====================================
———	BLOG GRID LEFT SIDEBAR
===================================== -->
<div class="col-md-8 col-lg-9 order-md-1">
    <div class="row">
        <div class="media-body">
            <p class="font-size-20 font-weight-medium d-inline-block mb-1">Tus métodos de contacto</p>
            <small id="" class="form-text text-muted">
                Edita la forma en que prefieres que te contacten, incluye un link o un número y un mensaje (opcional).
            </small>
            <hr>
        </div>
    </div>

        <div class="row">
            <div method="post" action="{% url 'profile_edit_contact' %}" id = "contact_method_form">
{#                TODO submit form backend#}
                <div class="contact_method_wrapper">
                {% if contact_methods %}
                    {% for c in contact_methods %}
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-link"></i></span>
                            </div>
                            <input name="contact_name_1" type="text" class="form-control" value="{{ c.name }}" placeholder="Facebook, Telegram ...">
                            <input name="contact_url_1" type="text" class="form-control" value="{{ c.url_link }}" placeholder="link / mail / número">
                          </div>
                          <textarea name="contact_text_1" type="text" class="form-control"
                                    placeholder="Envíame un mensaje, estoy conectado en las tardes">{{ c.description }}</textarea>
                            <hr>
                    {% endfor %}
                {% else %}
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-link"></i></span>
                        </div>
                        <input name="contact_name_1" type="text" class="form-control" placeholder="Facebook, Telegram ...">
                        <input name="contact_url_1" type="text" class="form-control" placeholder="link / mail / número">
                      </div>
                      <textarea name="contact_text_1" type="text" class="form-control"
                                placeholder="Envíame un mensaje, estoy conectado en las tardes"></textarea>
                        <hr>
                {% endif %}
                </div>
            </div>
            </form>
        </div>
        <button id="new_contact_method" type="submit" class="btn btn-success text-uppercase">
                Nuevo Método de Contacto
        </button>
        <button id="save_form" type="submit" class="btn btn-danger text-uppercase">
                Guardar
        </button>
</div>

{% endblock profile_content %}


{% block extra_js %}
    <script>
    $( document ).ready(function() {
        $(".hidden").hide()
        let form_data = {"number": 0}
        let counter = 2
        $("#new_contact_method").on("click", function(){
            $(".contact_method_wrapper").append(
                '<div class="input-group mb-3">' +
                '<div class="input-group-prepend">' +
                '<span class="input-group-text"><i class="fa fa-link"></i></span>' +
                '</div>\n' +
                '<input name="contact_name_number"'.replace("number", counter) + ' type="text" class="form-control" placeholder="">' +
                '<input name="contact_url_number"'.replace("number", counter) + ' type="text" class="form-control" placeholder="">' +
                '</div>\n' +
                '<textarea name="contact_text_number"'.replace("number", counter) + ' type="text" class="form-control"' +
                'placeholder=""></textarea>' +
                '<hr>'
            );
            counter += 1;
            console.log("counter: " + counter)
        });
        $("#save_form").on("click", function(){
            $("#contact_method_form").submit();
        });

    });
    </script>
{% endblock extra_js %}
