{% extends 'profiles/profile_base.html' %}

{% block profile_content %}

<!-- ====================================
———	BLOG GRID LEFT SIDEBAR
===================================== -->
<div class="col-md-8 col-lg-9 order-md-1">
    <div class="row">
        <div class="media-body">
            <p class="font-size-20 font-weight-medium d-inline-block mb-1">Tus métodos de contacto</p>
            <small id="" class="form-text text-muted">
                Edita la forma en que prefieres que te contacten, incluye un link o un número y un mensaje (opcional).
            </small>
            <hr>
        </div>
    </div>

        <div class="row">
            <form method="post" id = "contact_method_form">
                {% csrf_token %}
{#                TODO submit form backend#}
                <div id="contact_method_wrapper">
                {% if contact_methods %}
                    {% for c in contact_methods %}
                        <div id ="div_{{ forloop.counter }}">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <button data-counter="{{ forloop.counter }}" type="button" class="btn btn-danger input-group-text delete">
                                  <i class="fa fa-times"></i></button>
                            </div>
                            <div class="input-group-prepend">
                              <button data-counter="{{ forloop.counter }}" type="button" class="btn btn-success input-group-text save">
                                  <i class="fa fa-check"></i></button>
                            </div>
                            <input id="contact_id_{{ forloop.counter }}" type="hidden" value="{{ c.id }}" class="hidden">
                            <input type="text" class="form-control" id="contact_name_{{ forloop.counter }}" value="{{ c.name }}" placeholder="Facebook, Telegram ...">
                            <input type="text" class="form-control" id="contact_url_{{ forloop.counter }}" value="{{ c.url_link }}" placeholder="link / mail / número">
                          </div>
                          <textarea type="text" class="form-control" id="contact_text_{{ forloop.counter }}"
                                    placeholder="Envíame un mensaje, estoy conectado en las tardes">{{ c.description }}</textarea>
                            <hr>
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
            </form>
        </div>
        <button id="new_contact_method" class="btn btn-success text-uppercase">
                Nuevo Método de Contacto
        </button>
</div>
{% endblock profile_content %}


{% block extra_js %}
    <script>
    $( document ).ready(function() {
        $(".hidden").hide()

        let counter = {{ contact_methods|length }}  // para coordinar con el forloop counter

        $("#contact_method_wrapper").on("click", ".delete", function(){
            console.log("Item Counter");
            let item_counter = $(this).data("counter");
            console.log(item_counter);
            let item_div = $("#div_"+item_counter);
            item_div.hide();
            let contact_id = $("#contact_id_"+item_counter).val();
            console.log("Contact ID");
            console.log(contact_id);
            if(contact_id==="0") {
                console.log("Item no existe en el backend");
            } else {
                console.log("BORRAR item");
                data = {
                    "csrfmiddlewaretoken": $('input[name=csrfmiddlewaretoken]').val(),
                    "contact_id": contact_id,
                    "contact_name": 0,
                    "contact_url": 0,
                    "contact_text": 0,
                };
                console.log(data);
                $.ajax({
                    url: "{% url 'profile_edit_contact' %}",
                    method: "post",
                    data: data,
                    success: function(response){
                        console.log("SUCCESS");
                    },
                    error: function(response){
                        console.log("ERROR");
                        console.log(response);
                    }
                });
            }
        });

        $("#contact_method_wrapper").on("click", ".save", function(){
            let span_icon = $(this).find(".fa");

            span_icon.removeClass("fa-check");
            span_icon.addClass("fa-spin fa-circle-o-notch");

            console.log("Item Counter");
            let item_counter = $(this).data("counter");
            console.log(item_counter);
            let contact_id = $("#contact_id_"+item_counter).val();
            let contact_name = $("#contact_name_"+item_counter).val();
            let contact_url = $("#contact_url_"+item_counter).val();
            let contact_text = $("#contact_text_"+item_counter).val();
            console.log("contact_id");
            console.log(contact_id);
            console.log("contact_name");
            console.log(contact_name);
            console.log("contact_url");
            console.log(contact_url);
            console.log("contact_text");
            console.log(contact_text);

            console.log("GUARDAR item");
            data = {
                "csrfmiddlewaretoken": $('input[name=csrfmiddlewaretoken]').val(),
                "contact_id": contact_id,
                "contact_name": contact_name,
                "contact_url": contact_url,
                "contact_text": contact_text,
            };
            console.log(data);
            $.ajax({
                    url: "{% url 'profile_edit_contact' %}",
                    method: "post",
                    data: data,
                    success: function(response){
                        console.log("SUCCESS");
                        span_icon.removeClass("fa-spin fa-circle-o-notch");
                        span_icon.addClass("fa-check");
                    },
                    error: function(response){
                        console.log("ERROR");
                        console.log(response);
                    }
                });
        })

        $("#new_contact_method").on("click", function(){
            counter += 1;
            console.log(counter);
            $("#contact_method_wrapper").append(
                '<div id ="div_number">'.replace("number", counter) +
                '<div class="input-group mb-3">' +
                '<div class="input-group-prepend">' +
                '<button data-counter="number"'.replace("number", counter) +
                'type="button" class="btn btn-danger input-group-text delete"><i class="fa fa-times"></i></button></div>' +
                '<div class="input-group-prepend">' +
                '<button data-counter="number"'.replace("number", counter) +
                'type="button" class="btn btn-success input-group-text save"><i class="fa fa-check"></i></button> </div>' +
                '<input id="contact_id_number"'.replace("number", counter) +
                'type="hidden" value="0" class="hidden">' +
                '<input type="text" class="form-control" id="contact_name_number"'.replace("number", counter) +
                'placeholder="Facebook, Telegram ...">' +
                '<input type="text" class="form-control" id="contact_url_number"'.replace("number", counter) +
                'placeholder="link / mail / número"></div>' +
                '<textarea type="text" class="form-control" id="contact_text_number"'.replace("number", counter) +
                'placeholder="Envíame un mensaje, estoy conectado en las tardes"></textarea><hr></div>'
            );
            console.log("counter: " + counter)
        });
    });
    </script>
{% endblock extra_js %}
