{% extends 'profiles/profile_base.html' %}

{% block profile_content %}
    <div class="col-md-8 col-lg-9 order-md-1">
        <div class="row">

            <div class="media media-avator-view flex-column flex-sm-row">
              <div class="media-body">

                {% if certificate_requests %}
                    <div class="card">
                      <div class="card-header list-group-item-success certificate_requests">
                        <h5 class="mb-0">
                          <button class="btn btn-link cert_requests" type="button">
                              {% if certificate_requests.count == 1 %}
                                  Hay {{ certificate_requests.count }} usuario que ha solicitado un certificado de tu curso / evento.
                              {% else %}
                                  Hay {{ certificate_requests.count }} usuarios que han solicitado certificados de tu cursos / eventos.
                              {% endif %}
                          </button>
                        </h5>
                      </div>
                    </div>
                {% else %}
                    <div class="card">
                      <div class="card-header list-group-item-info">
                        <h5 class="mb-0">
                          <button class="btn btn-link cert_requests certificate_requests" type="button">
                            <i class="fa fa-certificate"></i> No tienes nuevas solicitudes de certificados en tus cursos.
                          </button>
                        </h5>
                      </div>
                    </div>
                {% endif %}

                  <div class="col-12">
                    <div class="text-sm-center mt-6">
{#                                TODO solo usuarios con email confirmado pueden crear un curso#}
                      <button type="submit" class="btn btn-warning text-uppercase"
                              onclick="location.href = '{% url 'event_create' %}' ">
                        Crear Nuevo Curso o Evento
                      </button>
                    </div>
                      <hr>

                      <p>
                         <strong>Tus Cursos y Eventos: </strong>
                          <br>
                      </p>

                  </div>

                  {% for event in events %}
                  <div class="media media-list-view mb-5">
                    <div class="media-body">
                    <h3 class="mb-3 mb-lg-2 mb-xl-3">
                        {% if event.event_type == "COURSE" %}
                            <a class="text-info text-capitalize font-weight-bold" href="{% url 'event_detail' event.id %}">
                            {{ event.title }}</a>
                        {% elif event.event_type == "EVENT" %}
                            <a class="text-success text-capitalize font-weight-bold" href="{% url 'event_detail' event.id %}">
                            {{ event.title }}</a>
                        {% endif %}
                    </h3>
                    <ul class="list-unstyled d-flex text-muted mb-2">
                        <li class="mr-3">
                            {% if event.event_type == "COURSE" %}
                                {% if event.is_recorded %}
                                    <i class="fa fa-play-circle mr-2" aria-hidden="true"></i>Curso Grabado
                                {% else %}
                                    <i class="fa fa-video-camera mr-2" aria-hidden="true"></i>Curso en Línea
                                {% endif %}
                            {% elif event.event_type == "EVENT" %}
                                {% if event.is_recurrent %}
                                    <i class="fa fa-calendar mr-2" aria-hidden="true"></i>Evento Recurrente
                                {% else %}
                                    <i class="fa fa-tag mr-2" aria-hidden="true"></i>Evento
                                {% endif %}
                            {% endif %}
                        </li>
                        <li>
                            {% if event.is_recorded %}
                                {% if event.is_recorded %}
                                    <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>
                                    {{ event.date_recorded|date:"SHORT_DATE_FORMAT" }}
                                {% endif %}
                            {% elif event.is_recurrent %}
                                {% if event.schedule_description %}
                                    <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>
                                    {{ event.schedule_description }}
                                {% endif %}
                            {% else %}
                                {% if event.date_start %}
                                    <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>
                                    {{ event.date_start|date:"SHORT_DATE_FORMAT" }}
                                {% endif %}
                                {% if event.date_end %}
                                    - {{ event.date_end|date:"SHORT_DATE_FORMAT" }}
                                {% endif %}
                            {% endif %}
                        </li>
                    </ul>
                    </div>
                  </div>
                  {% endfor %}
              </div>
            </div>

        </div>
    </div>

{% endblock profile_content %}


{% block extra_js %}
    <script>
    $( document ).ready(function() {
        $(".certificate_requests").on("click", function(e){
           e.preventDefault();
           window.location.href = "{% url 'profile_cert_requests' %}";
        });
    })
    </script>
{% endblock extra_js %}
