{% extends 'profiles/profile_base.html' %}

{% block profile_content %}

    <div class="col-md-8 col-lg-9 order-md-1">
        <div class="row">
        <form>
            <div class="row">
              <div class="col-12">
                <div class="form-group form-group-icon">
                  <i class="fa fa-envelope"></i>
                  <input type="text" class="form-control border-info" placeholder="aamaya@gmail.com">
                </div>
              </div>

              <div class="col-sm-6 col-xs-12">
                <div class="form-group form-group-icon">
                  <i class="fa fa-user-secret"></i>
                  <input type="password" class="form-control border-info" placeholder="Cambiar Contraseña">
                </div>
              </div>

              <div class="col-sm-6 col-xs-12">
                <div class="form-group form-group-icon">
                  <i class="fa fa-user-secret"></i>
                  <input type="password" class="form-control border-info" placeholder="Repetir Contraseña">
                </div>
              </div>

              <div class="col-12">
                <div class="text-sm-center mt-6">
                  <button type="submit" class="btn btn-danger text-uppercase">
                    Guardar Cambios
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
    </div>

{% endblock profile_content %}
