{% extends 'profiles/profile_base.html' %}

{% block profile_content %}

    <div class="col-md-8 col-lg-9 order-md-1">
        <div class="row">
            <div class="media media-avator-view flex-column flex-sm-row">
                <div class="media-body">
                    <p>
                      Aquí puedes encontrar los certificados a los cursos / eventos que has asistido. Recuerda que para recibir un
                        certificado debes solicitarlo, puedes hacerlo en la página de "Favoritos". El creador del curso / evento
                        debe aceptar tu solicitud.
                    </p>
                    <div class="text-white rounded bg-warning text-uppercase font-weight-medium px-6 py-3 mb-3">Tus Certificados</div>
                    <hr>

                    {% for c in certificates %}
                        <div class="media media-list-view mb-5">
                            <a class="media-img" href="">
                                {% if c.event.image %}
                                    <img src="{{ c.event.image.url }}" alt="">
                                {% endif %}
                            </a>

                            <div class="media-body">
                                <h3>
                                    <a class="text-warning" href="{% url 'event_detail' c.event.id %}">{{ c.event.title }}</a>
                                </h3>
                                <ul class="list-unstyled d-flex text-muted mb-3">
                                    <li class="mr-3">
                                        {% if c.event.event_type == "COURSE" %}
                                            {% if c.event.is_recorded %}
                                                <i class="fa fa-play-circle mr-2" aria-hidden="true"></i>Curso Grabado
                                            {% else %}
                                                <i class="fa fa-video-camera mr-2" aria-hidden="true"></i>Curso en Línea
                                            {% endif %}
                                        {% elif c.event.event_type == "EVENT" %}
                                            {% if c.event.is_recurrent %}
                                                <i class="fa fa-calendar mr-2" aria-hidden="true"></i>Evento Recurrente
                                            {% else %}
                                                <i class="fa fa-tag mr-2" aria-hidden="true"></i>Evento
                                            {% endif %}
                                        {% endif %}
                                    </li>
                                    <li>
                                        {% if c.event.is_recorded %}
                                            {% if c.event.is_recorded %}
                                                <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>
                                                {{ c.event.date_recorded|date:"SHORT_DATE_FORMAT" }}
                                            {% endif %}
                                        {% elif c.event.is_recurrent %}
                                            {% if c.event.schedule_description %}
                                                <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>
                                                {{ c.event.schedule_description }}
                                            {% endif %}
                                        {% else %}
                                            {% if c.event.date_start %}
                                                <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>
                                                {{ c.event.date_start|date:"SHORT_DATE_FORMAT" }}
                                            {% endif %}
                                            {% if c.event.date_end %}
                                                - {{ c.event.date_end|date:"SHORT_DATE_FORMAT" }}
                                            {% endif %}
                                        {% endif %}
                                    </li>
                                </ul>

                                <p class="text-justify mb-lg-2">{{ c.event.description|truncatewords:100|safe }}</p>

                                <div class="profile_certificates-button-wrapper">
                                    <button class="open_certificate btn btn-sm btn-white text-uppercase mb-1 mr-2 btn-hover-info"
                                        onclick="location.href = '{% url 'certificate_preview' c.id %}' ">
                                        <i class="fa fa-certificate mr-2" aria-hidden="true"></i>Ver Certificado
                                    </button>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                    {% if courses_certificates %}
                        <div class="text-white rounded bg-info text-uppercase font-weight-medium px-6 py-3 mb-3">Certificados Entregados</div>
                        {% for c in courses_certificates %}
                            <div class="media media-list-view mb-5">
                                <div class="media-body">
                                    <h3>
                                        <p>{{ c.date_created|date:"SHORT_DATE_FORMAT" }} - {{ c.event.title }} - {{ c.user.username }}</p>
                                    </h3>
                                    <div class="text-sm-right profile_certificates-button-wrapper">
                                        <button class="btn btn-sm btn-white text-uppercase mb-1 mr-2 btn-hover-info"
                                            onclick="location.href = '{% url 'certificate_preview' c.id %}' ">
                                            <i class="fa fa-certificate mr-2" aria-hidden="true"></i>Ver Certificado
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock profile_content %}
