{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="py-8 py-md-10">
	<div class="container">
		<div class="row">

    <div class="col-md-4 col-lg-3">
        <div class="card shadow-none bg-transparent">
            <h4 class="card-header font-weight-bold bg-success rounded-top text-white">Certificados</h4>
            <div class="border border-top-0 rounded-bottom">
            {% for cert in certificates %}
                <div class="media p-3 border-bottom">
                    <p class="text-muted">
                        {{ cert.event.owner.username }} |
                        <a class="" target="_blank" href="{% url 'certificate_preview' cert.id %}">{{ cert.event.title }}</a>
                    </p>
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="card shadow-none bg-transparent">
            <h4 class="card-header font-weight-bold bg-warning rounded-top text-white">Contacto</h4>
            <div class="border border-top-0 rounded-bottom">
            {% for c in contact_methods %}
                <div class="media p-3 border-bottom">
                        {% if c.has_contact_url %}
                            <p class="text-muted">
                                {{ c.name }} | <a class="" target="_blank" href="{{ c.url_link }}">{{ c.url_link }}</a>:
                                "{{ c.description }}"
                            </p>
                        {% else %}
                            <p class="text-muted">
                                {{ c.name }} | <strong class="text-muted">{{ c.url_link }}</strong>: "{{ c.description }}"
                            </p>
                        {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>

    </div>

    <div class="col-md-8 col-lg-9 order-md-1">
        <div class="container">
            <div class="row">
                <div class="col-md certi_col">
                    <div class="img_col">
                        <img title="Evento" src="{% static 'assets/img/diamante_verde.png' %}"  width="20px" alt="">
                    </div>
                    <div>
                        <h4>{{ user_diamonds.green_diamonds }}</h4>
                    </div>
                </div>
                <div class="col-md  certi_col">
                     <div class="img_col">
                        <img title="Evento" src="{% static 'assets/img/diamante_amarillo.png' %}"  width="20px" alt="">
                    </div>
                    <div>
                        <h4>{{ user_diamonds.yellow_diamonds }}</h4>
                    </div>
                </div>
                <div class="col-md certi_col">
                     <div class="img_col">
                        <img title="Evento" src="{% static 'assets/img/diamante_magenta.png' %}"  width="20px" alt="">
                    </div>
                    <div>
                        <h4>{{ user_diamonds.magenta_diamonds }}</h4>
                    </div>
                </div>
                <div class="col-md certi_col">
                     <div class="img_col">
                        <img title="Evento" src="{% static 'assets/img/diamante_azul.png' %}"  width="20px" alt="">
                    </div>
                    <div>
                        <h4>{{ user_diamonds.blue_diamonds }}</h4>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
        <hr>
        <div class="row">
            <div class="media media-avator-view flex-column flex-sm-row">
                <a class="media-img mb-5 mb-sm-0 mr-md-5 mr-lg-6 rounded-sm shadow-sm">
                {% if profile.profile_picture %}
                    <img id="profile_picture" class="rounded-sm" src="{{ profile.profile_picture.url }}">
                {% else %}
                    <img id="profile_picture" class="rounded-sm" src="https://picsum.photos/200">
                {% endif %}
                </a>
                <div class="media-body">
                    <p class="font-size-20 font-weight-medium d-inline-block mb-1">{{ profile.user.username }}</p>
                      <br>
                    <p class="font-size-15 text-muted font-weight-medium d-inline-block mb-1">{{ profile.user.get_full_name }}</p>

                    <span class="text-muted font-size-15 mb-1 d-block">
                        <strong>
                            Intereses:
                        </strong>
                       {{ profile.interests }}
                    </span>
                    <p>
                        {{ profile.profile_description }}
                    </p>
                    <span class="text-muted font-size-15 mb-1 d-block">
                        <p class="text-muted">
                           <strong>Criptos preferidas</strong>:
                            {{ cryptos_string }}
                        </p>
                    </span>
                    <span class="text-muted font-size-15 mb-1 d-block">
                        <strong>
                            Zona Horaria:
                        </strong>
                        {{ profile.timezone }}
                    </span>
               </div>
            </div>

            <hr>

        </div>

        <hr>

        <div class="media-body">
            {% include 'courses/events_list_section.html' with events=events %}
        </div>

        </div>

    </div>
   </div>
    </div>
</section>
{% endblock content %}
