{% extends 'base.html' %}

{% block content %}
<section class="py-8 pt-md-10">
	<div class="container">
            <div class="row">
                <div class="media media-avator-view flex-column flex-sm-row">
                <div class="media-img mb-5 mb-sm-0 mr-md-5 mr-lg-6 rounded-sm shadow-sm">
                    {% if profile.profile_picture %}
                        <img id="profile_picture" class="rounded-sm" src="{{ profile.profile_picture.url }}">
                    {% else %}
                        <img id="profile_picture" class="rounded-sm" src="https://picsum.photos/200">
                    {% endif %}
                </div>
                  <div class="media-body">
                    <p class="font-size-20 font-weight-medium d-inline-block mb-1">{{ profile.user.username }}</p>
                      <br>
                    <p class="font-size-15 text-muted font-weight-medium d-inline-block mb-1">{{ profile.user.get_full_name }}</p>

                    <span class="text-muted font-size-15 mb-1 d-block">
                        <strong>
                            Intereses:
                        </strong>
                       {{ profile.interests }}
                    </span>
                    <p>
                        {{ profile.profile_description }}
                    </p>
                    <span class="text-muted font-size-15 mb-1 d-block">
                        <p class="text-muted">
                           <strong>Criptos preferidas</strong>:
                            {{ cryptos_string }}
                        </p>

                        <strong>Métodos de Contacto</strong>:
                        <ul class="text-muted">
                            {% for c in contact_methods %}
                            <li>
        {#                    TODO si no es link no poner anchor tag#}
                                {{ c.name }} - <a class="text-muted" target="_blank" href="{{ c.url_link }}">{{ c.url_link }}</a>: {{ c.description }}
                            </li>
                            {% endfor %}
                        </ul>
                    </span>
                    <span class="text-muted font-size-15 mb-1 d-block">
                        <strong>
                            Zona Horaria:
                        </strong>
                        {{ profile.timezone }}
                    </span>
                  </div>
                </div>
            </div>
        <hr>
        <div class="row">
        <div class="media-body">
            <p>
             <strong>Cursos y Eventos: </strong>
              <br>
            </p>
            {% for event in events %}
              <div class="media media-list-view mb-5">
                <div class="media-body">
                <h3 class="mb-3 mb-lg-2 mb-xl-3">
                    {% if event.event_type == "COURSE" %}
                        <a class="text-info text-capitalize font-weight-bold" href="{% url 'event_detail' event.id %}">
                        {{ event.title }}</a>
                    {% elif event.event_type == "EVENT" %}
                        <a class="text-success text-capitalize font-weight-bold" href="{% url 'event_detail' event.id %}">
                        {{ event.title }}</a>
                    {% endif %}
                </h3>
                <ul class="list-unstyled d-flex text-muted mb-2">
                    <li class="mr-3">
                        {% if event.event_type == "COURSE" %}
                            {% if event.is_recorded %}
                                <i class="fa fa-play-circle mr-2" aria-hidden="true"></i>Curso Grabado
                            {% else %}
                                <i class="fa fa-video-camera mr-2" aria-hidden="true"></i>Curso en Línea
                            {% endif %}
                        {% elif event.event_type == "EVENT" %}
                            {% if event.is_recurrent %}
                                <i class="fa fa-calendar mr-2" aria-hidden="true"></i>Evento Recurrente
                            {% else %}<i class="fa fa-tag mr-2" aria-hidden="true"></i>Evento
                            {% endif %}
                        {% endif %}
                    </li>
                    <li>
                        {% if event.is_recorded %}
                            {% if event.is_recorded %}
                                <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>
                                {{ event.date_recorded|date:"SHORT_DATE_FORMAT" }}
                            {% endif %}
                        {% elif event.is_recurrent %}
                            {% if event.schedule_description %}
                                <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>
                                {{ event.schedule_description }}
                            {% endif %}
                        {% else %}
                            {% if event.date_start %}
                                <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>
                                {{ event.date_start|date:"SHORT_DATE_FORMAT" }}
                            {% endif %}
                            {% if event.date_end %}
                                - {{ event.date_end|date:"SHORT_DATE_FORMAT" }}
                            {% endif %}
                        {% endif %}
                    </li>
                </ul>
                </div>
              </div>
            {% endfor %}
        </div>
        </div>

        <div class="row">
            <div class="media-body">
                <p>
                    <strong>Certificados: </strong>
                    <br>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
