{% extends 'base.html' %}

{% block content %}
  <!-- ====================================
  ———	BREADCRUMB
  ===================================== -->
  <section class="breadcrumb-bg" style="background-image: url(assets/img/background/page-title-bg-img.jpg); ">
    <div class="container">
      <div class="breadcrumb-holder">
        <div>
          <h1 class="breadcrumb-title">About Us</h1>
          <ul class="breadcrumb breadcrumb-transparent">
            <li class="breadcrumb-item">
              <a class="text-white" href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item text-white active" aria-current="page">
              About Us
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

<!-- ====================================
———	ABOUT MEDIA
===================================== -->
<section class="py-7 py-md-10">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-xs-12 order-md-1">
				<div class="image mb-4 mb-md-0">
					<img class="img-fluid rounded" src="assets/img/features/features-img1.jpg" alt="features-img1.jpg">
				</div>
			</div>

			<div class="col-sm-6 col-xs-12">
				<div class="">
          <div class="section-title mb-4">
            <h2 class="text-danger pl-0">Wellcome to kidz school</h2>
          </div>
          <p class="text-dark font-size-15 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p class="text-danger font-size-15 mb-4">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

          <ul class="list-unstyled mb-5">
            <li class="d-flex align-items-baseline text-muted mb-2">
							<i class="fa fa-check mr-2" aria-hidden="true"></i>
							Vestibulum iaculis quam ac libero volutpat placerat.
						</li>
            <li class="d-flex align-items-baseline text-muted mb-2">
							<i class="fa fa-check mr-2" aria-hidden="true"></i>
							Phasellus sit amet risus fringilla, aliquet lacus vel, suscipit lorem.
						</li>
            <li class="d-flex align-items-baseline text-muted mb-2">
							<i class="fa fa-check mr-2" aria-hidden="true"></i>
							Etiam suscipit velit et tellus bibendum interdum.
            </li>
            <li class="d-flex align-items-baseline text-muted mb-2">
              <i class="fa fa-check mr-2" aria-hidden="true"></i>
              Vestibulum iaculis quam ac libero volutpat placerat.
            </li>
            <li class="d-flex align-items-baseline text-muted mb-2">
              <i class="fa fa-check mr-2" aria-hidden="true"></i>
              Etiam suscipit velit et tellus bibendum interdum.
            </li>
          </ul>
        </div>
			</div>
		</div>
	</div>
</section>

<!-- ====================================
———	ABOUT SERVICES
===================================== -->
<section class="bg-info text-white pt-9 pb-8" style="background-image: url(assets/img/background/avator-bg.png);">
  <div class="container">
    <div class="section-title justify-content-center mb-4 mb-md-8">
      <span class="shape shape-left bg-danger"></span>
      <h2 class="text-white">Our Services</h2>
      <span class="shape shape-right bg-danger"></span>
    </div>

    <div class="row">
      <div class="col-sm-4 offset-sm-2 col-xs-12">
        <div class="media flex-sm-column flex-lg-row text-sm-right mb-7">
          <a class="media-icon-large shadow-none ml-auto mr-4 mr-md-0 p-0 order-lg-1" href="services-details.html">
            <i class="fa fa-cutlery extra-large" aria-hidden="true"></i>
          </a>

          <div class="media-body mt-sm-3 mt-lg-0 mr-lg-3">
            <h3 class="text-truncate">Delicious Food</h3>
            <p class="text-white font-weight-light opacity-70 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>

				<div class="media flex-sm-column flex-lg-row text-sm-right mb-7">
          <a class="media-icon-large shadow-none mr-4 mr-md-0 p-0 ml-auto order-lg-1" href="services-details.html">
            <i class="fa fa-heart extra-large" aria-hidden="true"></i>
          </a>
          <div class="media-body mt-sm-3 mt-lg-0 mr-lg-3">
            <h3 class="text-truncate">Love & Care</h3>
            <p class="text-white font-weight-light opacity-70 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>

				<div class="media flex-sm-column flex-lg-row text-sm-right mb-7">
          <a class="media-icon-large shadow-none mr-4 mr-md-0 p-0 ml-auto order-lg-1" href="services-details.html">
            <i class="fa fa-shield extra-large" aria-hidden="true"></i>
          </a>
          <div class="media-body mt-sm-3 mt-lg-0 mr-lg-3">
            <h3 class="text-truncate">Annual Sports</h3>
            <p class="text-white font-weight-light opacity-70 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-xs-12">
        <div class="media flex-sm-column flex-lg-row mb-7">
          <a class="media-icon-large shadow-none mr-4 p-0 mr-lg-3 mr-md-0" href="services-details.html">
            <i class="fa fa-car extra-large" aria-hidden="true"></i>
          </a>
          <div class="media-body mt-sm-3 mt-lg-0">
            <h3 class="text-truncate">Transportation</h3>
            <p class="text-white font-weight-light opacity-70 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>

        <div class="media flex-sm-column flex-lg-row mb-7">
          <a class="media-icon-large shadow-none mr-4 p-0 mr-lg-3 mr-md-0" href="services-details.html">
            <i class="fa fa-graduation-cap extra-large" aria-hidden="true"></i>
          </a>
          <div class="media-body mt-sm-3 mt-lg-0">
            <h3 class="text-truncate">Experienced Teachers</h3>
            <p class="text-white font-weight-light opacity-70 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>

        <div class="media flex-sm-column flex-lg-row mb-7">
          <a class="media-icon-large shadow-none mr-4 p-0 mr-lg-3 mr-md-0" href="services-details.html">
            <i class="fa fa-leaf extra-large" aria-hidden="true"></i>
          </a>
          <div class="media-body mt-sm-3 mt-lg-0">
            <h3 class="text-truncate">Physical Activity</h3>
            <p class="text-white font-weight-light opacity-70 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
