{% extends 'base.html' %}

{% block content %}
    <h2>New Course</h2>
    <div class="col-md-12">
        <form role="form">
            <div class="form-group">
                <label for="title">
                    Titulo
                </label>
                <input type="text" class="form-control" id="title" />
            </div>
            <div class="form-group">
                <label for="description">
                    Descripcion
                </label>
                <textarea class="form-control" id="description"></textarea>
            </div>
            <div class="form-group">
                <label for="geolocation">
                    Localización Geografica
                </label>
                <input type="text" class="form-control" id="geolocation" />
            </div>
            <div class="form-group">
                <label for="accepted_cryptos">
                   Cryptos Aceptadas (codigos, separados por comas)
                </label>
                <input type="text" class="form-control" id="accepted_cryptos" />
            </div>
            <button type="submit" class="btn btn-primary" id="submit_course">
                Submit
            </button>
        </form>
    </div>

    <script>
        $( document ).ready(function() {
            $("#submit_course").on("click", function(e){
                e.preventDefault();
                data = {
                    "title": $("#title").val(),
                    "description": $("#description").val(),
                    "geolocation": $("#geolocation").val(),
                    "accepted_cryptos": $("#accepted_cryptos").val(),
                    "csrfmiddlewaretoken": '{{ csrf_token }}'
                };

                $.ajax({
                    method: "POST",
                    data: data,
                    url: "{% url 'api_create_course' %}",
                    success: function(response){
                            console.log(response)
                        },
                    error: function(response){
                        alert(response)
                    }
                })
            })
        });
    </script>
{% endblock content %}
