{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- ====================================
  ———	BREADCRUMB
  ===================================== -->
<section class="breadcrumb-bg" style="background-image: url({% static 'assets/img/cadena2.jpg' %}); ">
<div class="container">
  <div class="breadcrumb-holder">
    <div>
        <h1 class="breadcrumb-title">Descentralizar la Educación</h1>
    </div>
  </div>
</div>
</section>


<section class="py-7 py-md-10">
	<div class="container">
		<div class="row">
            <div class="col-sm-10 col-xs-10">
              <h3 class="text-muted pl-0">Hola!, aquí te compartiré por qué es necesario descentralizar la eduación y el conocimiento. Aunque parece obvio, las razones por las cuales es muy importante hacerlo suelen no ser tan conocidas. Podemos comenzar desde lo más evidente: la universidad es extremadamente costosa, en algunos países suma deudas de seis dígitos a estudiantes que quedan con sus finanzas complicadas por décadas. La información, sin embargo, es algo que cada vez resulta más fácil conseguir. Si el contenido está en el Internet, ¿por qué necestiamos un intermediario (la universidad) tan costoso? Hay expertos que predicen un cambio tectónico en el sistema educativo durante esta década.</h3>
			</div>
		</div>
	</div>
</section>


<!-- ====================================
———	BREADCRUMB
===================================== -->
<section class="breadcrumb-bg" style="background-image: url({% static 'assets/img/cadena3.jpg' %}); ">
<div class="container">
  <div class="breadcrumb-holder">
    <div class="transparent_background">
        <h3 class="text-white">La necesidad de descentralizar la educación no se restringe a razones financieras. La idea de liberar el conocimiento ya ha sido objeto de la lucha de varios líderes, desde Lutero hasta Aaron Swartz. </h3>
    </div>
  </div>
</div>
</section>


<!-- ====================================
———	ABOUT MEDIA
===================================== -->
<section class="py-7 py-md-10">
	<div class="container">

		<div class="row">
            <div class="col-sm-10 col-xs-10">
                <h3 class="text-muted pl-0">
                  ¿Sabías que las universidades tienen que pagar por suscripciones a revistas científicas y si no lo hacen, el conocimiento que esas universidades imparten va siendo desactualizado? Las instituciones en países pobres no pueden costearlo y la desigualdad aumenta.
                    <br><br>
                  Además, la estructura centralizada de la creación de conocimiento abre la puerta a algo mucho más pernicioso: el control de lo que se cree que es real. Las universidades repiten lo que publican las revistas científicas; lo que buscan ciertos intereses de fundaciones (o "think-tanks") que financian laboratorios y facultades; y lo que se pronuncia en conferencias de renombre. Este proceso de comunicación del conocimiento por su naturaleza centralizada es direccionable.
                </h3>
            </div>
		</div>
	</div>
</section>

<!-- ====================================
———	BREADCRUMB
===================================== -->
<section class="breadcrumb-bg" style="background-image: url({% static 'assets/img/cadena4.jpg' %}); ">
<div class="container">
  <div class="breadcrumb-holder">
    <div class="transparent_background">
        <h3 class="text-white">Así es como tenemos que la mayoría de universidades del mundo no enseñan las teorías de la Escuela Austríaca de economía, siendo éstas mucho más profundas y coherentes. También, se puede evidenciar que la industria farmacéutica ha influenciado enormemente la facultad de psiquiatría. Y por último, el estudio de la genética es algo que, para muchos, no tiene la transparencia que debería. Estos son algunos ejemplos de problemas en el ámbito educativo que podrían solucionarse con un modelo abierto y descentralizado.</h3>
    </div>
  </div>
</div>
</section>


<!-- ====================================
———	ABOUT MEDIA
===================================== -->
<section class="py-7 py-md-10">
	<div class="container">
		<div class="row">
{#			<div class="col-sm-6 col-xs-12 order-md-1">#}
{#				<div class="image mb-4 mb-md-0">#}
{#					<img class="img-fluid rounded" src="{% static 'assets/img/cadena1.jpg' %}" alt="features-img1.jpg">#}
{#				</div>#}
{#			</div>#}

			<div class="col-sm-12 col-xs-12">
                  <div class="section-title mb-4">
                  </div>
                    <h3 class="text-muted pl-0">Con un sistema en el que los certificados educativos se guarden en una cadena de bloques y las clases se repartan libremente de manera descentralizada, podrían mejorarse muchas cosas:</h3>
                    <br>

                <ul class="list-unstyled mb-5">
                    <li class="d-flex align-items-baseline text-muted mb-2">
                        <i class="fa fa-check mr-2" aria-hidden="true"></i>
                        <h3 class="text-muted pl-0">Las carreras evolucionarían y se diversificarían. Estuvieran más conectadas con el mercado.</h3>
                    </li>
                    <li class="d-flex align-items-baseline text-muted mb-2">
                        <i class="fa fa-check mr-2" aria-hidden="true"></i>
                        <h3 class="text-muted pl-0">
                            El intermediario que ahora es la universidad no sería tan costoso y tendría que cambiar. La certificación del conocimiento sería más accequible.
                        </h3>
                    </li>
                    <li class="d-flex align-items-baseline text-muted mb-2">
                        <i class="fa fa-check mr-2" aria-hidden="true"></i>
                        <h3 class="text-muted pl-0">
                            Sumándole un sistema de reputación efectivo, se podrían financiar estudios transparentes a través de DAOs (Organizaciones Autónomas Descentralizadas).
                        </h3>
                    </li>
                    <li class="d-flex align-items-baseline text-muted mb-2">
                        <i class="fa fa-check mr-2" aria-hidden="true"></i>
                        <h3 class="text-muted pl-0">
                            La investigación periodística se daría de forma colaborativa.
                        </h3>
                    </li>
                    <li class="d-flex align-items-baseline text-muted mb-2">
                        <i class="fa fa-check mr-2" aria-hidden="true"></i>
                        <h3 class="text-muted pl-0">
                            El avance tecnológico y científico de la humanidad fuera transparente y estaría disponible para cualquier persona ávida de conocimiento.
                        </h3>
                    </li>
                </ul>
			</div>
		</div>
	</div>
</section>

<!-- ====================================
———	BREADCRUMB
===================================== -->
<section class="breadcrumb-bg" style="background-image: url({% static 'assets/img/cadena1.jpg' %}); ">
    <div class="container">
        <div class="transparent_background">
            <h3 class="text-white text-center"><br><br><br><br> <strong>Únete</strong> <br><br><br><br></h3>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
            </div>
            <div class="col-md-6 col-lg-6">
              <hr>
              <div class="card">
                <img class="card-img-top" src="{% static 'assets/img/cadena4.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Somos Idealistas</h5>
                  <h3 class="text-muted pl-0"> Como puedes notar, el lenguaje que utilizamos en esta página es profundamente idealista: creemos que la tecnología puede cambiar el mundo para bien.
                    Si el proyecto resuena contigo y quieres ser parte, puedes hacerlo comprando ACBC DAO tokens, donando directamente a nuestras direcciones cripto o participando en esta plataforma. ¡¡Un abrazo!!
                      <br><br>
                  </h3>
                  <a href="" class="btn btn-success">Apoyar a Academia Blockchain</a>
                    <br>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
            </div>
        </div>
    </div>
</section>

{% endblock content %}
