{% extends 'base.html' %}

{% block content %}


<!-- ====================================
———	COURSES SECTION
===================================== -->
<section class="py-8 pt-md-10">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-8">
				<div class="card shadow-none bg-transparent">
					<img class="card-img-top" src="http://96bda424cfcc34d9dd1a-0a7f10f87519dba22d2dbc6233a731e5.r41.cf2.rackcdn.com/higherpowernola/Yoga-in-the-Morning/Yoga-in-the-Morning_gallery.jpg" alt="Card image">
					<div class="card-img-overlay">
						<span class="badge badge-success badge-rounded-circle">$20</span>
					</div>
					<div class="card-body border-top-5 border-success position-relative">
						<h3 class="card-title text-dark">Yoga en las mañanas.</h3>

						<p class="">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
							classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
							Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
							Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
							source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of
							Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during
							the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
							1.10.32.</p>

						<p class="">There are many variations of passages of Lorem Ipsum available, but the majority have suffered
							alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If
							you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
							the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
							necessary.</p>

						<h3 class="card-title text-warning">Mapa / Cómo llegar</h3>

                        <div class="mb-10" id="map" style="width:100%; height:420px;"></div>

					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4">
				<div class="pb-4 mb-2">
					<div class="section-title bg-info rounded-top">
						<h3 class="text-capitalize text-white font-weight-bold py-2 pl-3 mb-0">Información</h3>
					</div>
					<div class="border border-top-0 rounded-bottom">
						<div class="media p-3 border-bottom">
							<div class="icon-rounded-circle-medium mr-3 bg-warning">
								<i class="fa fa-calendar text-white" aria-hidden="true"></i>
							</div>
							<div class="media-body">
								<h4 class="text-uppercase text-secondary mt-0 font-weight-bold">Cuándo?</h4>
								<time class="text-muted font-weight-bold">Los Jueves a las 7am</time>
							</div>
						</div>

						<div class="media p-3 border-bottom">
							<div class="icon-rounded-circle-medium mr-3 bg-warning">
								<i class="fa fa-map-marker text-white" aria-hidden="true"></i>
							</div>
							<div class="media-body">
								<h4 class="text-uppercase text-secondary mt-0 font-weight-bold">
									Dónde?
								</h4>
								<time class="text-muted font-weight-bold">De las Camelias y Brasil. Quito, Ecuador</time>
							</div>
						</div>

						<div class="media p-3 border-bottom">
							<div class="icon-rounded-circle-medium mr-3 bg-warning">
								<i class="fa fa-money text-white" aria-hidden="true"></i>
							</div>
							<div class="media-body">
								<h4 class="text-uppercase text-secondary mt-0 font-weight-bold">
									Criptos Preferidas
								</h4>
								<time class="text-muted font-weight-bold">BTC, XMR, ETH</time>
							</div>
						</div>

                        <div class="media p-3 border-bottom">
							<div class="icon-rounded-circle-medium mr-3 bg-warning">
								<i class="fa fa-comments text-white" aria-hidden="true"></i>
							</div>
							<div class="media-body">
								<h4 class="text-uppercase text-secondary mt-0 font-weight-bold">
									Contacto
								</h4>
								<time class="text-muted font-weight-bold">Email, Facebook, Llamada</time>
							</div>
						</div>
			</div>
		</div>
	</div>
</section>

{#    TODO q error hay#}

{% endblock content %}
