{% extends 'base.html' %}
{% load tz %}

{% block content %}
<!-- ====================================
———	COURSES SECTION
===================================== -->
<section class="py-8 pt-md-10">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-7">
				<div class="card shadow-none bg-transparent">
{#                TODO disenar una imagen default para los eventos sin imagen#}
                    {% if event.image %}
					    <img class="card-img-top" src="{{ event.image.url }}" alt="Event Image">
                    {% else %}
                        <img class="card-img-top" src="https://picsum.photos/500" alt="Event Image">
                    {% endif %}
					<div class="card-img-overlay">
                        {% if event.event_type == "COURSE" %}
                            <span class="badge badge-info badge-rounded-circle">
                        {% else %}
                            <span class="badge badge-success badge-rounded-circle">
                        {% endif %}
                            {% if event.reference_price == 0.0 %}
                            <span data-toggle="tooltip" data-placement="top" title="" data-original-title="GRATIS!">
                                <i class="fa fa-smile-o text-white" aria-hidden="true"></i>
                            </span>
                            {% else %}
                                $ {{ event.reference_price }}
                            {% endif %}
                        </span>
{#                        TODO MODAL que salga cuando aplastas en el precio y que calcule los precios con las criptos preferidas#}
					</div>

                    {% if event.event_type == "COURSE" %}
                        <div class="card-body border-top-5 border-info position-relative">
                    {% else %}
                        <div class="card-body border-top-5 border-success position-relative">
                    {% endif %}

                    {% if event.owner == user %}
                        <div class="text-right">
                            <button id="edit_event" type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Editar</button>
                        </div>
                    {% endif %}
						<h3 class="card-title text-dark">{{ event.title }}</h3>
						<p class="">{{ event.description|safe }}</p>

						<h3 class="card-title text-warning">Contacta a {{ event.owner.username }}:</h3>

                    {% if user.is_authenticated %}
                        <div class="list-group">
                        {% if user.is_authenticated %}
                            {% for contact_method in contact_methods %}
                                <a class="list-group-item list-group-item-action list-group-item-light"
                                   {% if contact_method.url_link %}
                                       href="{{ contact_method.url_link }}"
                                   {% endif %} target="_blank">
                                    <span class="badge badge-primary badge-pill">{{ contact_method.name }}</span>
                                    {{ contact_method.description }}
                                </a>
                            {% endfor %}
                        {% endif %}
                        </div>
                    {% else %}
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="{% url 'profile_register' %}">Regístrate en Academia Blockchain</a>
                            </li>
                        </ul>
                    {% endif %}
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-5">
				<div class="pb-4 mb-2">
                    {% if event.event_type == "COURSE" %}
                        <div class="section-title bg-info rounded-top">
                    {% else %}
                        <div class="section-title bg-success rounded-top">
                    {% endif %}
						<h3 class="text-capitalize text-white font-weight-bold py-2 pl-3 mb-0">Información</h3>
					</div>
					<div class="border border-top-0 rounded-bottom">
						<div class="media p-3 border-bottom">
							<div class="icon-rounded-circle-medium mr-3 bg-warning">
								<i class="fa fa-calendar text-white" aria-hidden="true"></i>
							</div>
							<div class="media-body">
                                <h4 class="text-uppercase text-secondary mt-0 font-weight-bold">Cuándo?</h4>
                                {% if event.is_recorded %}
                                    <p class="text-muted font-weight-bold">Grabado el {{ event.date_recorded|date:"SHORT_DATE_FORMAT" }}</p>
                                {% else %}
                                    {% if event.date_start %}
                                        <p class="text-muted font-weight-bold">{{ event.date_start|date:"SHORT_DATE_FORMAT" }}</p>
                                    {% endif %}
                                    {% if event.date_end %}
                                        <p class="text-muted font-weight-bold">hasta el {{ event.date_end|date:"SHORT_DATE_FORMAT" }}</p>
                                    {% endif %}

                                    {% if logged_user_profile.timezlocaone %}
                                        {% timezone logged_user_profile.timezone  %}
                                        <p class="text-muted font-weight-bold">
                                            {{ event.date_start|date:"h:i A" }} ({{ logged_user_profile.timezone }}
                                        </p>
                                        {% endtimezone %}
                                    {% else %}
                                        <p class="text-muted font-weight-bold">
                                         {{ event.date_start|date:"h:i A" }} ({{ owner_profile.timezone }})
                                        </p>
                                    {% endif %}


                                    {% if event.schedule_description %}
                                        <p class="text-muted font-weight-bold">
                                            * {{ event.schedule_description }}
                                        </p>
                                    {% endif %}
                                {% endif %}
							</div>
						</div>

						<div class="media p-3 border-bottom">
							<div class="icon-rounded-circle-medium mr-3 bg-warning">
								<i class="fa fa-money text-white" aria-hidden="true"></i>
							</div>
							<div class="media-body">
								<h4 class="text-uppercase text-secondary mt-0 font-weight-bold">
									Criptos Preferidas
								</h4>
                                <p class="text-muted font-weight-bold">
                                    $ {{ event.reference_price }}
                                </p>
								<p class="text-muted font-weight-bold">
                                    {% for c in accepted_cryptos %}
                                        {{ c.crypto.code }}
                                    {% endfor %}
                                </p>
							</div>
						</div>

						<div class="media p-3 border-bottom">
							<div class="icon-rounded-circle-medium mr-3 bg-warning">
								<i class="fa fa-external-link-square text-white" aria-hidden="true"></i>
							</div>
							<div class="media-body">
								<h4 class="text-uppercase text-secondary mt-0 font-weight-bold">
									Aplicación
								</h4>
                                <p class="text-muted font-weight-bold">
                                    {{ event.platform.name }}
                                </p>
                                {% if event.other_platform %}
                                    <p class="text-muted font-weight-bold">
                                        + {{ event.other_platform }}
                                    </p>
                                {% endif %}
							</div>
						</div>

                        <div class="media p-3 border-bottom">
							<div class="icon-rounded-circle-medium mr-3 bg-warning">
								<i class="fa fa-comments text-white" aria-hidden="true"></i>
							</div>
							<div class="media-body">
								<h4 class="text-uppercase text-secondary mt-0 font-weight-bold">
									Contacto
								</h4>
                                <p class="text-muted font-weight-bold">
                                    {% for contact_method in contact_methods %}
                                        {{ contact_method.name }}
                                    {% endfor %}
                                </p>
							</div>
						</div>
			</div>
		</div>
	</div>
    </div>
    </div>
    </div>
    </div>
</section>

{% endblock content %}

{% block extra_js %}
    <script>
        $( document ).ready(function() {
            $("#edit_event").on("click", function(){
                window.location.href = "{% url 'edit_event' event.id %}";
            });
        });
    </script>
{% endblock extra_js %}
