{% load static %}

<h3>Estado del cert_request: {{ cert_request.accepted }}</h3>

{% if cert_request.accepted == True %}  {# Ya obtuvo un certificado #}
    <div class="text-right">
        <img title="Evento" src="{% static 'assets/img/diamante_verde.png' %}"  width="20px" alt="">
        Tienes un <a href="{% url 'profile_certificates' %}">certificado</a> de este evento.
    </div>
{% elif cert_request.accepted == None %} {# Todavia no decide el profesor #}
    <div class="text-right">
        <button type="button" data-id="{{ cert_request.event.id }}" class="btn btn-warning mb-2 cancel_cert_request">
            <i class="fa fa-times"></i> Eliminar Solicitud de Certificado!</button>
    </div>
{% elif cert_request.accepted == False %}
    <div class="text-right">
        <button type="button" data-id="{{ cert_request.event.id }}" class="btn mb-2 btn-disabled disabled">
            <i class="fa fa-times"></i> Certificado Rechazado</button>
        <small class="form-text text-muted">
          Si tienes dudas por favor comunícate con el organizador del evento.
        </small>
    </div>
{% elif cert_request.deleted %}
    <div class="text-right">
        <button type="button" data-id="{{ cert_request.event.id }}" class="btn btn-primary mb-2 request_certificate">
            <i class="fa fa-certificate"></i> Volver a Solicitar Certificado</button>
    </div>
{% endif %}
