{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-wrapper teachers-details">


<!-- ====================================
———	BREADCRUMB
===================================== -->
<section class="breadcrumb-bg" style="background-image: url({% static 'assets/img/parallax_blockchain.jpg' %}); ">
<div class="container">
  <div class="breadcrumb-holder">
    <div>
      <h1 class="breadcrumb-title">Enviar {{ certificate.event.title }} <br> a la blockchain.</h1>
    </div>
  </div>
</div>
</section>

<!-- ====================================
———	TEACHERS DETAILS
===================================== -->
<section class="py-7 py-md-10">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="image mb-5 mb-md-0">
          <img class="w-100 rounded" src="{{ certificate.event.image.url }}">
        </div>
      </div>

      <div class="col-sm-8 col-xs-12">
        <h2 class="text-warning font-weight-bold text-capitalize pl-0 mb-5">Activat Metamask</h2>

        <p class="text-muted mb-5">Para interactuar con la blockchain de Ethereum necesitas Metamask, un plugin para tu navegador.
            <a href="">leer más</a>
        </p>

        <p class="text-muted mb-5">En la cadena de bloques se guarda un hash que es una representación única e inmutable de tu certificado.
            Lo adecuado es guardar la información escencial en el hash. <a href="">leer más</a> <br>
            El siguiente es el texto del certificado que quedará guardado permanentemente a través del hash:
        </p>

          <form action="">
              <div class="form-group" >
                  <textarea class="form-control" disabled rows="5">
                      {{ certificate.user.username }}
                      {{ certificate.user.first_name }}
                      {{ certificate.user.last_name }}
                      {{ certificate.event.title }}
                      {{ certificate.event.owner.username }}
                  </textarea>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" disabled value="{{ cert_hash.hexdigest }}">
              </div>
                  <div class="text-right">
                  <button type="submit" class="btn btn-info text-right" id="connect_ethereum">
                    Conectar a Ethereum
                  </button>
                  <button type="submit" class="btn btn-success text-right" id="send_transaction">
                    Enviar Certificado
                  </button>
                  </div>
          </form>
      </div>

    </div>
  </div>
</section>

</div> <!-- element wrapper ends -->
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'assets/js/web3/dist/web3.min.js' %}"></script>
    <script>
    $( document ).ready(function() {
       $("#send_transaction").hide();
       const infura_url = "https://ropsten.infura.io/v3/db26d321185243db9d29d384b55dba3c";
       const web3 = new Web3(infura_url);
       console.log(web3);
       const address = "0x0Fa50B058e9CCAb5AfD2337F0dF997801715a66e";
       web3.eth.getBalance(address, (err, wei) => {
            balance = web3.utils.fromWei(wei, 'ether');
            console.log(balance);
       });

       accounts = []
       async function getAccount() {
          accounts = await ethereum.request({ method: 'eth_requestAccounts' });
          console.log(accounts);
       }
       $("#connect_ethereum").on("click", function(e){
           e.preventDefault();
           getAccount();
           $("#send_transaction").show();
           $(this).hide();
       });

       $("#send_transaction").on("click", function(e){
           e.preventDefault();
           console.log(accounts[0]);
           let ropsten_response = web3.eth.sendTransaction(
               {
                 from: ''
               }
           )
       });

    });
    </script>
{% endblock extra_js %}
